doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- bower:css -->
    link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap/scss/bootstrap.css')
    <!-- endbower -->	
  body
    block content
   

    <!-- bower:js -->
    script(src="/javascripts/bower_components/tether/dist/js/tether.js")
    script(src="/javascripts/bower_components/jquery/dist/jquery.js")
    script(src="/javascripts/bower_components/bootstrap/dist/js/bootstrap.js")
    <!-- endbower -->		
