extends layout

block content
  .container-fluid
    .row
      .col-3
      .col-6(style="background-color:aliceblue")
        .left-image(style="width:33%;float:left")
        .center-image(style="width:33%;float:left")
          img(style="height:100%;padding-bottom:100px;",src="/images/logo_o_banheiro.png")
        .right-image(style="width:33%;float:left")  
        p(style="text-align:center") This website is still under construction.
        p(style="text-align:center") Este sítio encontra-se em construção.    
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3081.774222703299!2d-9.225880921832136!3d39.42922967412342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1f4d0d59888171%3A0xd8332d4ca6eb0321!2sBar+O+Banheiro!5e0!3m2!1spt-PT!2spt!4v1496945121367",width="600",height="450",frameborder="0",style="border:0;margin-left:20%",allowfullscreen)
      .col-3    
  script(src="/javascripts/ga-obanheiro.js")        


