extends layout

block content
  .container-fluid
    .row
      .col-3
      .col-6
        img(style="height:200px;",src="/images/logo_o_banheiro.png")
        p This website is still under construction.
        p Este sítio encontra-se em construção.    
      .col-3    
        


